#back {
    cursor: pointer;
    margin-top: 20px;
    display: flex;
}

#back:hover {
    color : #ffbf7e;
}

#product {
    margin: 0px 5%;
}

#backtxt {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#divproduit {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin: auto;
    margin-top: 20px;
}

#leftproduit{
    display: flex;
    flex:1;
    flex-direction: column;
    min-width: 250px;
}

#rightproduit{
    display: flex;
    flex:1;
    flex-direction: column;
    min-width: 280px;
    margin: 0px 4% 0px 6%;
}

#nomproduit {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

#prixproduit {
    font-weight: 500;
    font-size: 20px;
    margin-top: 8px
}

#descriptionproduit {
    margin-top: 20px;
}

#compoproduit {
    margin-top: 20px;
}

#quantiteproduit {
    margin-top: 20px;
}

#addtocartproduit {
    margin-top: 25px;
}

.imgwatchProduct {
    height: 340px;
    object-fit: cover;
    min-width: 250px;
}

.medium {
    font-weight: 500;
}

.addTocart {
    background-color : #3e75f1!important;
    color: #FFF!important;
}

.addTocart:hover {
    background-color: #537fe4!important;
}

#reassurance {
    width: 100%;
    max-width: 450px;
    margin: auto;
}

.subtitleproduct {
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#consignetitle {
    text-align: center;
    margin-bottom: 10px;
}

#msgrappel {
    background-color: aliceblue;
    padding: 20px 5%;
}

#consigne {
    max-width: 675px;
    margin: auto;
}

@media (max-width: 450px) {
    .imgwatchProduct {
        height: 250px;
    }
 }