* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexcenter {
  align-items: center;
}

@font-face {
	font-family: "roboto";
	font-weight: bolder;
	src: url('./fonts/Roboto-Black.ttf');
}

@font-face {
	font-family: "roboto";
	font-weight: bold;
	src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: "roboto";
	font-weight: 500;
	src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: "roboto";
	font-weight: 400;
	src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: "roboto";
  font-weight: 500;
  font-style: italic;
	src: url('./fonts/Roboto-MediumItalic.ttf');
}